.quantity {
    margin: auto;
}

.btn-minus, .btn-plus{
    width: auto;
}

.card-footer {
    padding: 0 !important;
}

.btn-add {
    margin-top: 3px; 
    margin-left: 42px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 1rem;
}

.card-title, .card-text, .list-group-item {
    text-align: center;
}
.card{
	margin-left: 20px;
	margin-bottom: 20px;
}